/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  position: sticky; /* Make navbar sticky */
  top: 0;           /* Stick to top */
  z-index: 1000;    /* Ensure navbar stays on top of other elements */
  background-color: #fff;
}

.logo-image {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #888;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a.active
{
  color: #000;
  font-weight: bold;
  /* border-bottom: 2px solid black; */
  padding-bottom: 3px;
}
.nav-links li a:hover {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 3px;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }




  .hamburger.close-style {
    background-color: #000;
    padding: 2px 15px;
    border-radius: 25px;
  }
  
  .hamburger.close-style i {
    color: #fff;
    font-size: 20px;
  }
  

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding: 10px;
    width: 200px;
    text-align: center;
    z-index: 10;
}
  

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 0px;
  }

  .nav-links li:last-child {
    margin-bottom: 0;
  }

}

  /* graph cocre 1st section */

.graphcore-section {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0px !important;
}

.graphcore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.graphcore-header .title {
    flex: 1;
}


.graphcore-header .title h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Montserrat", serif;
}

   
 
.graphcore-header .title p {
    font-size: 16px;
    color: #888;
}

.graphcore-header .description {
    flex: 1.1;
    text-align: left;
}

.graphcore-header .description p {
    font-size: 16px;
    color: #666;
    line-height: 24px;
    font-family: "Montserrat", serif;
}

.graphcore-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphcore-image img {
    width: 100%;
    height: auto;
    
border-radius: 15px;    
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}


.veeville-tag {
    font-style: italic; /* Italicize the text */
    font-family: Georgia, serif; /* Apply Georgia font */
    font-size: 20px; /* Larger font size */
    font-weight: 500; /* Make it stand out */
    color: #333; /* Dark color for emphasis */
  }
  
  
  @media (max-width: 768px) {
    .veeville-tag {
      font-size: 20px; /* Adjust the font size for smaller screens */
    }
  }

@media (max-width: 768px) {
    .graphcore-header {
        flex-direction: column;
        text-align: center;
    }

    .graphcore-header .description {
        text-align: center;
    }
    .graphcore-section{
        margin-top: 65px !important;
    }
}

@media (max-width: 480px) {
    .graphcore-header .title h1 {
        font-size: 18px;
        padding: 0px 10px;
    }
    .graphcore-header{
        gap: 10px;
    }

    .graphcore-header .title p,
    .graphcore-header .description p {
        font-size: 14px;
        padding: 0px 10px;
    }
}


/* 2nd section */
/* Global Styles */
body {
    margin: 0;

    font-family: "Montserrat", serif;

   
 
}

.design-section {
    padding: 20px;
    background-color: #fff;
    max-width: 1400px;
    margin: 0 auto;
}

.layout-container {
    display: flex;
    gap: 20px;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-item {
    position: relative;
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    
border-radius: 15px;    
}




@media (max-width: 767px) {
    .layout-container {
        flex-direction: column;
    }

    .right-section {
        flex-direction: column;
    }
}


/* 3rd section */



.half-layout-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-half-blank {
    flex: 1; /* Takes half the width */
    background-color: #fff; /* Blank area */
}

.right-half-content {
    flex: 1; /* Takes the other half */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}

.content-quote {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000;
    font-weight: 400;
    margin: 0;
}

.content-link {
    font-size: 1rem;
    color: red;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}

.content-link:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 767px) {
    .half-layout-section {
        flex-direction: column;
    }
    .left-half-blank {
        display: none; /* Hide blank area on smaller screens */
    }
    .right-half-content {
        padding: 20px;
        align-items: flex-start;
    }
    .content-quote {
        font-size: 1rem;
    }
    .content-link {
        font-size: 0.9rem;
    }
}

/* 4th section */



.star-burn {
    padding: 20px;
    background-color: #fff;
    max-width: 1400px;
    margin: 0 auto;
}

.star-burn-layout {
    display: flex;
    gap: 20px;
}

.star-burn-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.star-burn-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-burn-image-top,
.star-burn-image-bottom,
.star-burn-image {
    position: relative;
    overflow: hidden;
}

.star-burn-image-top img, 
.star-burn-image-bottom img, 
.star-burn-image img {
    width: 100%;
    height: auto;
    display: block;
    
border-radius: 15px;    
}



@media (max-width: 767px) {
    .star-burn-layout {
        flex-direction: column;
    }

    .star-burn-right {
        align-items: flex-start;
    }
}


/* 5th section */

.design-data {
    padding: 20px;
    background-color: #fff;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: -20px;
}

.design-data-container {
    display: flex;
    gap: 20px;
}

.design-data-left, .design-data-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-data-image-left, .design-data-image-right {
    width: 100%;
    height: auto;
    display: block;
    
border-radius: 15px;    
}

@media (max-width: 767px) {
    .design-data-container {
        flex-direction: column;
    }
}

/* 6th section */


.image-section {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.main-image:hover {
    transform: scale(1.05);
}

.carousel-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.carousel-container img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 5px;
    margin-top: 10px;
}

.carousel-header {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.carousel-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.carousel-arrow-left {
    left: 20px;
}

.carousel-arrow-right {
    right: 20px;
}

@media (max-width: 767px) {
    .main-image {
        width: 100%;
    }
}



.footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  flex: 1;
  min-width: 200px;
}

.footer-left a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 15px;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.footer-link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #fff;
}

.footer-link i {
  font-size: 20px;
}

/* Responsive Design for Mobile (max-width: 768px) */
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer-left a {
    display: block; /* Stack links vertically in mobile */
    margin-bottom: 15px;
    font-size: 16px;
  }

  .footer-right {
    justify-content: center;
    margin-bottom: 15px;
  }
}

/* Tablet and Desktop Version (min-width: 769px) */
@media (min-width: 769px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-left {
    text-align: left;
  }

  .footer-left a {
    display: inline; /* Show links inline for tablet and laptop */
    margin-bottom: 0;
  }

  .footer-right {
    justify-content: flex-end;
  }
}








/* sticky bar*/

.sticky-data {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(244, 244, 244, 0.95);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.sticky-data.hidden {
  opacity: 0;
  pointer-events: none;
}

.sticky-data .icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sticky-data .icon-wrapper i {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.sticky-data .icon-wrapper:hover i {
  color: #007acc;
}

.tooltip {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.left-icon:hover .tooltip {
  opacity: 1;
  transform: translateY(-5px);
}

.right-icon:hover .tooltip {
  opacity: 1;
  transform: translateY(-5px) translateX(-100px);
}

.sticky-data-text {
  font-size: 16px;
  font-weight: 500;
  color: #007acc;
  text-align: center;
}
.sticky-card{
  text-decoration: none;
}


@media (max-width: 768px) {
  .sticky-data {
    height: 40px;
    padding: 0 10px;
  }

  .sticky-data-text {
    font-size: 14px;
  }

  .tooltip {
    font-size: 12px;
  }
}




 
/* Next Project */
/* Next Project */
/* Project Navigation Section */
.project-navigation-section {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

/* Divider */
.divider {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin-bottom: 20px;
}

/* Navigation Container */
.project-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

/* Navigation Buttons */
.project-navigation a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 25px;
  color: #fff;
  background-color: #007BFF;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.project-navigation a:hover {
  background-color: #0056b3;
}

/* Branding Title */
.branding-title {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  background-color: #FFD700 !important;
  padding: 8px 20px;
  border-radius: 5px;
  white-space: nowrap;
}

.Categories-data{
  background-color: #FFD700 !important; 
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-navigation {
      flex-direction: column;
      gap: 10px;
  }

  .project-navigation a {
      text-align: center;
      width: 100%;
  }

  .branding-title {
      width: 100%;
      text-align: center;
  }
}


/* sticky bar*/

.sticky-data {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(244, 244, 244, 0.95);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.sticky-data.hidden {
  opacity: 0;
  pointer-events: none;
}

.sticky-data .icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sticky-data .icon-wrapper i {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.sticky-data .icon-wrapper:hover i {
  color: #007acc;
}

.tooltip {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.left-icon:hover .tooltip {
  opacity: 1;
  transform: translateY(-5px);
}

.right-icon:hover .tooltip {
  opacity: 1;
  transform: translateY(-5px) translateX(-100px);
}

.sticky-data-text {
  font-size: 16px;
  font-weight: 500;
  color: #007acc;
  text-align: center;

}

.sticky-card{
  text-decoration: none;
}

@media (max-width: 768px) {
  .sticky-data {
    height: 40px;
    padding: 0 10px;
  }

  .sticky-data-text {
    font-size: 14px;
  }

  .tooltip {
    font-size: 12px;
  }
}



